<template>
    <div class="slide-content">

        <div class="head">
            <router-link :to="{name: 'detail', params: {article: articleId}}">
                <div col lg="12" class="title">{{ title }}</div>
            </router-link>
        </div>
        <div class="body">
            <router-link :to="{name: 'detail', params: {article: articleId}}">
                <div class="image"><img :src="imageSource" alt=""></div>
            </router-link>
            <router-link :to="{name: 'detail', params: {article: articleId}}">
                <div class="content"> {{ content }} </div>
            </router-link>
        </div>
        <div class="bottom-triangle">
            <router-link :to="{name: 'detail', params: {article: articleId}}">
                <font-awesome-icon icon="chevron-right" />
            Read article </router-link>
        </div>
    </div>
</template>

<script>
export default {
  props: ['img', 'title', 'content', 'articleId'],
  computed: {
    imageSource() {
      return require(`../../assets/${this.img}`);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../scss/variables';
@import '../../scss/mixins/index';

.bottom-triangle{
    position: absolute;
    bottom: 0;
    z-index: 20;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 145px 145px;
    border-color: transparent transparent $primaryColor transparent;
    @include breakpoint(maxsm){
        border-color: transparent;
    }
    a{
        position: absolute;
        color: $lightColor;
        bottom: -140px;
        right: 10px;
        z-index: 21;
        font-size: 12px;
        font-family: 'Arial';
        width: 100px;
        text-transform: uppercase;
        @include breakpoint(maxsm){
            color: $primaryColor;
        }
    }
}

.slide-content{
    background: $lightColor;
    padding-bottom: 20px;
    padding-left: 20px;
    @include breakpoint(maxsm){
        padding-bottom: 0px;
        padding-left: 0px;
        background: transparent;
    }
    .title{
        font-family: $secondaryFontRegular; font-size: 30px;
        text-align: left;
        padding-bottom: 10px;
        color: $textColor;
        @include breakpoint(maxxs){
            font-size: 15px;
        }
    }
    .body{
        display: flex;
        flex-direction: row;
        @include breakpoint(maxsm){
            flex-direction: row-reverse;
            background: $lightColor;
            padding: 60px 30px 30px 30px;
        }

        @include breakpoint(maxxs){
            flex-wrap: wrap;
            justify-content: center;
        }
        .content{
            padding-left: 20px;
            color: $textColor;
            font-size: 12px;
            padding-right: 100px;
            @include breakpoint(maxsm){
                padding-left: 0;
                padding-right: 0;
            }
            @include breakpoint(maxxs){
                flex-wrap: wrap;
                justify-content: center;
                margin-top: 10px;
            }
        }
    }
}

</style>

