<template>
  <section class="section-article-slider">
    <div class="top-triangle"></div>
    <slick style="width: 100%;"
    ref="slick"
    :options="slickOptions">

        <ArticleSlide img="article-img.jpg" v-for="(article, index) in data.articles" :articleId="index" :key="index" :title="article.title" :content="article.content"/>

    </slick>
    <div class="header-slider-controls">
        <font-awesome-icon @click="prev" icon="chevron-left" />
        <font-awesome-icon @click="next" icon="chevron-right" />
    </div>
  </section>
</template>

<script>
import ArticleSlide from './ArticleSlide';
import { mapGetters } from 'vuex';

export default {
  components: {
    ArticleSlide,
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
      },
    };
  },

  beforeUpdate() {
    if (this.$refs.slick) {
      this.$refs.slick.destroy();
    }
  },
  updated() {
    this.$nextTick(function () {
      if (this.$refs.slick) {
        this.$refs.slick.create(this.slickOptions);
      }
    });
  },

  computed: {
    ...mapGetters('content', ['data']),
  },
  methods: {
    next() {
      this.$refs.slick.next();
    },

    prev() {
      this.$refs.slick.prev();
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../../../node_modules/slick-carousel/slick/slick.css';
@import '../../scss/variables';
@import '../../scss/mixins/index';

.section-article-slider{
    margin-bottom: 105px;
    background: #fff;
    padding: 30px 0px 0px 60px;
    position: relative;
    @include breakpoint(maxsm){
      background: transparent;
      padding-bottom: 100px;
    }
    .top-triangle{
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 65px 65px 0 0;
      border-color: $primaryColor transparent transparent transparent;
      @include breakpoint(maxsm){
        z-index: 20;
        top: 70px;
      }
      @include breakpoint(maxxs){
        top: 46px;
      }
    }
    @include breakpoint(maxsm){
      padding: 15px 0 100px 0;
    }
}
.header-slider-controls{
    position: absolute; bottom: -40px; left: 0;
    width: 100%; height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include breakpoint(maxsm){
      top: 30px; bottom: auto;
      left: auto; right: 0;
      justify-content: flex-end;
    }
    @include breakpoint(maxxs){
      top: 7px;
    }
    svg{
        background: $primaryColor;
        width: 40px;
        height: 40px;
        font-size: 24px;
        color: $lightColor;
        margin-right:5px;
        padding: 8px;
        cursor: pointer;
        @include breakpoint(maxsm){
          &:last-child{
            margin-right: 0;
          }
        }
        transition: transform 0.3s;
        &:hover{
            transform: scale(1.1);
            box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
        }
        &:active{
          transform: scale(1);
            box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.1);
        }
    }
}
</style>
