<template>
    <b-row tag="section" class="section-services">
        <SingleService v-for="(service, index) in data.services"
        :key="index"
        :number="index + 1"
        :title="service.title"
        :description="service.description"
        :hiddenContent="service.hiddenContent" />
    </b-row>
</template>

<script>
import SingleService from './SingleService';
import { mapGetters } from 'vuex';

export default {
  components: {
    SingleService,
  },
  computed: {
    ...mapGetters('content', ['data']),
  },
};
</script>
