<template>
    <b-col cols="12" lg="6" tag="article" class="service" >
        <div class="card" :class="contentVisible ? 'active' : ''">
            <div class="number" :class="contentVisible ? 'blackBg' : ''">
                {{ number }}
            </div>
            <div class="content">
                <p class="title">{{ title }}</p>
                <p class="description">{{ description }}</p>
                <font-awesome-icon icon="plus"  class="content-toggle" v-if="!contentVisible" @click="contentVisible = !contentVisible"/>
                <font-awesome-icon icon="minus" class="content-toggle"  v-else @click="contentVisible = !contentVisible"/>
            </div>
        </div>
        <div class="hidden-content" :class="contentVisible ? 'show' : ''">
            {{ hiddenContent }}
        </div>
    </b-col>
</template>

<script>
export default {
  props: ['number', 'title', 'description', 'hiddenContent'],
  data() {
    return {
      contentVisible: false,
    };
  },
};
</script>


<style lang="scss">
@import '../../scss/variables';
@import '../../scss/transitions';
@import '../../scss/mixins/index';

article.service{
    .card{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 120px;
        margin-bottom: 24px;
        &.active{
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
        }
        @include breakpoint(maxsm){
            margin-bottom: 0px;
        }

        @include breakpoint(maxxs){
            height: 80px;
        }
    }
    .number{
        flex: 1 0 120px;
        background: $primaryColor;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $secondaryFontRegular; font-size: 45px;
        color: $lightColor;
        &.blackBg{
            transition: all 0.3s;
            background: $darkColor;
        }
        @include breakpoint(maxxs){
            font-size: 22px;
            flex: 1 0 80px;
        }
    }
    .hidden-content{
        margin-bottom: 20px;
        margin-left: 135px;
        text-align: left;
        user-select: none;
        font-size: 12px;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s;
        overflow:hidden;
        &.show{
            transition: all 0.3s;
            opacity: 1;
            max-height: 800px;
            @include breakpoint(maxsm){
                padding-top: 20px;
            }
        }
        @include breakpoint(maxxs){
            margin-left: 0;
        }
    }
    .content{
        flex: 1 1 auto;
        padding-left: 15px;
        background: #fff;
        user-select: none;
        @include breakpoint(maxxs){
            overflow: hidden;
        }
        .title{
            font-family: $secondaryFontRegular; font-size: 40px; text-align: left;
            margin-bottom: 0; color: #666666; padding-top: 10px;
            @include breakpoint(maxxs){
                font-size: 20px;
                padding-top: 0px;
            }
        }
        .description{
            font-size: 12px; font-family: $primaryFont; text-align: left;
            color: #999999;
            padding-right: 20px;
            @include breakpoint(maxxs){
                font-size: 11px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
            }
        }
        .content-toggle{
            color: $primaryColor; font-size: 24px;
            position: absolute; right: 20px; top: 20px;
            cursor: pointer;
            @include breakpoint(maxsm){
                right: 5px; top: 5px;
                font-size: 18px;
            }
        }
        svg{
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }
            &:active{
                transform: scale(1.05);
            }
        }
    }
}
</style>
