<template>
    <b-col cols="6" lg="3" tag="article" class="item" >
        <div class="content">
            <div class="title">
                {{ title }}
            </div>
            <font-awesome-icon icon="plus"  class="content-toggle" v-if="!contentVisible" @click="contentVisible = !contentVisible"/>
            <font-awesome-icon icon="minus" class="content-toggle"  v-else @click="contentVisible = !contentVisible"/>
        </div>
            <div class="hidden-content" :class="contentVisible ? 'show' : ''">
                {{ content }}
            </div>
    </b-col>
</template>

<script>
export default {
  props: ['title', 'content'],
  data() {
    return {
      contentVisible: false,
    };
  },
};
</script>


<style lang="scss">
@import '../../scss/variables';
@import '../../scss/transitions';
@import '../../scss/mixins/index';

article.item{
    margin-bottom: 40px;
    .content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .title{
            font-family: $secondaryFontRegular; font-size: 25px; position: relative;
            max-width: 130px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding-right: 10px;
            color: #666666;

            @include breakpoint(maxxs){
                font-size: 13px;
            }
            &:after{
                content: '';
                width: 100%;
                position: absolute; bottom: 0; left: 0;
                height: 2px;
                background: $primaryColor;
            }
        }
        svg{
            background: $primaryColor;
            font-size: 24px;
            color: $lightColor;
            padding: 8px;
            width: 40px;
            height: 35px;
            position: relative;
            top: 1px;
            cursor: pointer;
            transition: transform 0.3s;
            &:hover{
                transform: scale(1.1);
                box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
            }
            @include breakpoint(maxxs){
                width: 20px;
                height: 18px;
                padding: 3px;
            }
        }
    }
    .hidden-content{
        text-align: left;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s;
        overflow:hidden;
        padding: 0 20px;
            user-select: none;
        @include breakpoint(maxxs){
            padding: 0 10px;
        }
        &.show{
            box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
            padding-top: 30px;
            padding-bottom: 20px;
            margin-bottom: 20px;
            background: $primaryColor;
            color: $lightColor;
            transition: all 0.3s;
            opacity: 1;
            max-height: 800px;
            user-select: none;
            @include breakpoint(maxxs){
                font-size: 11px;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 0px;
            }
        }
    }
}
</style>
