<template>
    <b-row tag="section" class="section-portofolio">

        <PortofolioItem v-for="(item, index) in data.portofolio" :key="index" :title="item.title" :content="item.content"/>

        <template v-if="contentLoaded">
            <PortofolioItem v-for="(item, index) in data.portofolio" :key="index + 20" :title="item.title" :content="item.content"/>
        </template>

        <div class="view-more" v-if="!loading && articleAvailable">
            <button class="view-more-btn" @click="fetchItems">View more</button>
        </div>

        <template v-if="loading">
            <loading />
        </template>
    </b-row>

</template>

<script>
import PortofolioItem from './PortofolioItem';
import { mapGetters } from 'vuex';

export default {
  components: {
    PortofolioItem,
  },
  data() {
    return {
      contentLoaded: false,
      loading: false,
      articleAvailable: true,
    };
  },
  computed: {
    ...mapGetters('content', ['data']),
  },
  methods: {
    fetchItems() {
      this.loading = true;
      // Simulate a database request
      setTimeout(() => {
        this.contentLoaded = true;
        this.loading = false;
        this.articleAvailable = false;
      }, 2500);
    },
  },
};
</script>

<style lang="scss">
@import '../../scss/variables';
.view-more{
    width: 100%;
    text-align: center;
    .view-more-btn{
        display: inline-block;
        background: none; border: none; outline: none;
        color: $primaryColor; cursor: pointer;
        font-size: 12px; font-family: 'Arial';
        text-transform: uppercase;
        border-bottom: 1px solid $primaryColor;
        padding: 0 10px;
    }
}
</style>
