<template>
  <div class="detail-page">
    <router-link to="/" class="go-back"><font-awesome-icon icon="chevron-left" /></router-link>
    <h1>{{ currentArticle.title }}</h1>
    <p>{{ currentArticle.content }}</p>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
  props: ['article'],
  computed: {
    ...mapGetters('content', ['data']),
    currentArticle() {
      return this.data.articles[this.article || this.$route.params.article];
    },
  },
};
</script>

<style lang="scss" scoped>
@import '../scss/variables';
@import '../scss/mixins/index';
.detail-page{
  border-top: 36px solid $primaryColor;
  padding-bottom: 100px;

    p{
      padding-top: 20px;
        font-size: 12px;
    }
  .go-back{
    color: $primaryColor;
    font-size: 30px;
    padding-top: 50px;
    display: inline-block;
  }
}
h1{
    font-family: $secondaryFontRegular; font-size: 40px;
    color: $primaryColor;
    text-align: center;
    margin-top: 40px;
    @include breakpoint(maxsm){
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include breakpoint(maxxs){
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    span{
        background-color: #050e13;
        padding: 0 5px;
    }
}
</style>
