<template>
    <div class="sections-wrapper">
      <HeaderSlider />
      <Service />
      <Portofolio />
      <Articles />
    </div>
</template>

<script>
import HeaderSlider from '@/components/Header/HeaderSlider';
import Service from '@/components/Service/Service';
import Portofolio from '@/components/Portofolio/Portofolio';
import Articles from '@/components/Articles/ArticlesSlider';

import { mapMutations } from 'vuex';

export default {
  name: 'home',
  components: {
    HeaderSlider,
    Service,
    Portofolio,
    Articles,
  },
};
</script>


<style lang="scss">
@import '../scss/index';

</style>
