<template>
    <div class="profile-page">
    <router-link to="/" class="go-back"><font-awesome-icon icon="chevron-left" /></router-link>
        <h1><span>{{ email }}</span> profile page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur ratione, deserunt iure eum tempora, numquam soluta dolore illo recusandae sit molestias eos iste magnam, nostrum mollitia est consectetur officia delectus!
        Expedita labore quisquam officiis, laborum accusantium nulla natus eos odio tempore debitis libero magnam unde repudiandae quos quia distinctio harum sapiente reiciendis eum odit quasi vero voluptates. Quasi, omnis odio.
        Harum doloremque explicabo ipsam reiciendis, velit dolores laudantium ea ad maiores nostrum eum animi eius recusandae odit odio nihil soluta reprehenderit vel quis aspernatur cupiditate hic? Cum dolores voluptatem deserunt!
        Molestias id excepturi commodi nihil iure sed fugiat, quia placeat dolor laudantium vero autem deleniti voluptates molestiae. Voluptatibus impedit, autem at magni, quasi exercitationem placeat dicta, commodi odio explicabo recusandae?
        Sunt asperiores pariatur explicabo accusantium unde nemo quas tenetur nobis repellat dignissimos. Doloribus quae nemo blanditiis rerum ratione laudantium earum dolores soluta magnam placeat debitis, reiciendis, corporis recusandae expedita delectus.
        Sapiente adipisci soluta quisquam reprehenderit maiores possimus animi, est voluptates a quaerat sequi quod similique ex sed repellendus porro ipsum eveniet incidunt rem! Blanditiis, repellat laborum facere ipsa ut perspiciatis.
        Sit provident odit maxime delectus veniam, voluptate modi quisquam ad cum ipsa. Ad quam obcaecati dolores eius, assumenda sequi soluta deserunt doloremque eos tempore impedit similique. Dolorem dolore voluptatibus quaerat?
        Magni iusto nesciunt neque eum maiores, at mollitia, commodi saepe porro quod eius ipsa nisi consequuntur fugiat deserunt culpa quaerat quis voluptate. Odit expedita architecto, optio temporibus est provident esse!
        Odit, voluptas rerum! Eaque quas architecto, dolores iusto fugit adipisci voluptatibus nemo assumenda corrupti. Eligendi quis soluta harum ut, cumque delectus aut facere! Atque dolor minima quos, placeat error odio!
        Maxime provident dicta, dolores nemo sequi non fuga? Cum mollitia eveniet consequatur! Quis suscipit nihil nisi voluptatum repellendus quod porro quidem, nulla est magnam consequuntur eum impedit, facilis sunt perferendis.
        Aliquid accusamus molestias error aliquam voluptatem quidem libero illum dolorum cumque veniam distinctio beatae, laborum eveniet praesentium exercitationem, hic vero tenetur ab molestiae voluptas? Tempora deleniti velit eaque deserunt hic.
        Quo saepe quod atque commodi aperiam blanditiis ipsum, repudiandae esse sint quidem vero in veniam alias accusantium totam possimus, neque nihil veritatis. Error consequatur ipsam molestias odio doloribus tempora labore.
        Blanditiis modi incidunt ipsam, exercitationem nulla odio doloremque nostrum alias voluptatibus quam vitae nobis accusamus est distinctio voluptatum magni rem. Veniam illo expedita sequi cumque tempore, ipsum culpa deleniti porro.
        Earum nisi pariatur dolores voluptatum veniam esse omnis laborum quasi officiis possimus rerum ducimus atque minima a dolorum, accusamus, quis quam deserunt voluptatibus enim perspiciatis! Rerum officiis placeat tenetur quod.
        Cupiditate nihil, quisquam animi qui, voluptatum accusamus alias excepturi illo aperiam, eligendi aspernatur quo nobis vero asperiores ex ad consequatur ipsa corrupti accusantium. Quae non porro ipsum dolore est possimus.
        Odit, neque explicabo ea, et iure, temporibus earum praesentium animi dicta velit vitae qui dolores. Eum odit adipisci voluptas ut sit, obcaecati, libero optio corrupti consequatur, ratione ab. Facere, ullam!
        Iure est expedita ea alias laudantium, nesciunt error blanditiis aliquid corporis esse, recusandae officia possimus deserunt cumque fugit dignissimos sunt incidunt consequatur excepturi deleniti, optio quidem? Porro dolorem eaque fugit!
        Laudantium, odio omnis nulla labore optio libero deserunt atque officia molestiae ipsam? Labore exercitationem omnis excepturi quod nam nisi. Neque, deleniti. Nostrum omnis itaque harum nesciunt error natus totam iure!
        Ducimus nesciunt totam consequatur praesentium pariatur eos amet sint ipsam quae similique quibusdam exercitationem qui eum at commodi ea dolores quasi quas non aliquam vitae, rerum dolor ratione accusamus? Facere.
        Sapiente omnis neque aut aliquid. Molestias consectetur nobis quos mollitia asperiores perspiciatis ullam suscipit esse? Assumenda, voluptas molestiae modi enim quia itaque quas voluptatum illo tenetur fugiat ullam incidunt est!
        Sequi rem perferendis fugiat quod aliquam exercitationem molestiae voluptatem natus saepe? Nam dolorem accusantium velit ullam impedit? Ad beatae, unde natus ea, dolorem nihil sit odit harum vel voluptas neque.
        Quos, officia. Inventore est consequatur veritatis perferendis provident labore mollitia quaerat maiores nam odio excepturi, ducimus rem accusamus laudantium ut autem commodi. Hic et quam libero sint asperiores similique totam.
        Consectetur, beatae odit nobis cum nihil non sunt ut sapiente error modi provident reiciendis libero voluptas rerum similique quaerat dolore labore voluptatem earum tempore, omnis esse delectus ipsam numquam. Sequi.
        Illo quam ad sapiente sunt vel totam facilis dolor! Tempora repellendus perspiciatis tenetur officiis, commodi quia odio. Provident reiciendis, voluptates, quibusdam temporibus vero adipisci quo aut similique quidem doloribus totam?
        Molestiae, saepe iusto. Mollitia rem non totam. Facere, est tenetur? Vel ipsa tempora beatae cum tempore nihil maxime eveniet magni voluptates, deleniti sunt ut aut. Sunt consectetur nobis corrupti maiores.</p>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {

  props: ['email'],
  computed: {
    ...mapGetters('authentication', ['authInfo']),
  },
  created() {
    // If the parameter entered in url is not the same as the email user, redirect to /
    if (this.authInfo.email !== this.email) {
      this.$router.push('/');
    }
  },
};
</script>

<style lang="scss" scoped>
@import '../scss/variables';
@import '../scss/mixins/index';
.profile-page{
    p{
        font-size: 12px;
    }
}
.go-back{
color: $primaryColor;
font-size: 30px;
padding-top: 50px;
display: inline-block;
position: absolute;
}
h1{
    border-top: 36px solid $primaryColor;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: $secondaryFontRegular; font-size: 40px;
    color: $primaryColor;
    text-align: center;
    @include breakpoint(maxsm){
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include breakpoint(maxxs){
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    span{
        background-color: #050e13;
        padding: 0 5px;
    }
}
</style>
