<template>
     <div class="header-slide">
        <div class="slide-content">
            <h3 class="subtitle">{{ subtitle }}</h3>
            <h1 class="title">{{ title }}</h1>
            <font-awesome-icon icon="plus"/>
        </div>
        <img class="fluid-img" :src="imageSource" alt="">
    </div>
    
</template>

<script>
export default {
  props: ['img', 'subtitle', 'title'],
  computed: {
    imageSource() {
      return require(`../../assets/${this.img}`);
    },
  },
};
</script>

<style lang="scss">
@import '../../scss/variables';
@import '../../scss/mixins/index';

.header-slide{
    position: relative;
    .slide-content{
        position: absolute; bottom: 90px; left: 20px;
        @include breakpoint(maxsm){
            bottom: 40px;
        }
        @include breakpoint(maxxs){
            bottom: 20px;
        }
        .title, .subtitle{
            color: $lightColor;
        }
        .subtitle{
            text-align: right;
            font-weight: 300;
            font-family: $secondaryFontRegular;
            font-size: 40px;
            @include breakpoint(maxxs){
            font-size: 20px;
            }
        }
        .title{
            text-transform: uppercase;
            font-family: $secondaryFont;
            font-size: 65px;
            @include breakpoint(maxxs){
            font-size: 35px;
            }
        }
        svg{
            position: absolute; right: -55px; bottom: 27px;
            background: $primaryColor; color: $lightColor;
            width: 40px; height: 30px; padding: 8px;
        }
    }
}
</style>
