<template>
  <section class="section-header">
    <div class="header-slider">
      <slick style="width: 100%;"
      ref="slick"
      :options="slickOptions"
      @beforeChange="beforeChange">
          <HeaderSlide v-for="(slide, index) in data.headerSlider"
          :key="index"
          :subtitle="slide.subtitle"
          :title="slide.title"
          img="slider-image.jpg"/>
      </slick>
      <div class="header-slider-controls">
          <font-awesome-icon @click="prev" icon="chevron-left" />
          <font-awesome-icon @click="next" icon="chevron-right" />
      </div>
    </div>
    
    <div class="header-title">
        <h3><span>{{ data.titleSection.background }}</span> {{ data.titleSection.normal }}</h3>
    </div>
  </section>
</template>

<script>
import HeaderSlide from './HeaderSlide';
import { mapMutations, mapGetters } from 'vuex';

export default {
  components: {
    HeaderSlide,
  },
  data() {
    return {
      slickOptions: {
        slidesToShow: 1,
        arrows: false,
      },
    };
  },

  computed: {
    ...mapGetters('content', ['data']),
  },

  beforeUpdate() {
    if (this.$refs.slick) {
      this.$refs.slick.destroy();
    }
  },
  updated() {
    this.$nextTick(function () {
      if (this.$refs.slick) {
        this.$refs.slick.create(this.slickOptions);
      }
    });
  },
  methods: {
    ...mapMutations('authentication', {
      showLogin: 'TOGGLE_AUTH_LOGIN_VISIBILITY',
      showRegister: 'TOGGLE_AUTH_REGISTER_VISIBILITY',
    }),

    next() {
      this.$refs.slick.next();
    },

    prev() {
      this.$refs.slick.prev();
    },

    beforeChange(event, slick, currentSlide, nextSlide) {
      this.showLogin(false);
      this.showRegister(false);
    },

  },
};
</script>

<style lang="scss" scoped>
@import '../../../node_modules/slick-carousel/slick/slick.css';
@import '../../scss/variables';
@import '../../scss/mixins/index';
.section-header{
  display: flex;
  flex-direction: column;
  @include breakpoint(maxsm){
    flex-direction: column-reverse;
    margin-bottom: 0;
  }
}
.header-slider{
    position: relative;
    margin-bottom: 40px;
    @include breakpoint(maxxs){
      margin-bottom: 20px;
    }
}
.header-slider-controls{
    position: absolute; bottom: 0; left: 0;
    background: $primaryColor;
    width: 100%; height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @include breakpoint(maxsm){
      justify-content: space-between;
      height: 20px;
    }
    svg{
        font-size: 24px;
        color: $lightColor;
        margin-right:15px;
        cursor: pointer;
        @include breakpoint(maxsm){
          margin-left: 15px;
        }
        @include breakpoint(maxsm){
          font-size: 12px;
        }
        transition: transform 0.3s;
        &:hover{
          transform: scale(1.1);
        }
        &:last-child{
            margin-right: 25px;
            @include breakpoint(maxsm){
              margin-right: 15px;
            }
        }
    }
}

h3{
    font-family: $secondaryFontRegular; font-size: 40px;
    color: $primaryColor;
    text-align: center;
    @include breakpoint(maxsm){
      margin-top: 30px;
      margin-bottom: 30px;
    }
    @include breakpoint(maxxs){
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    span{
        background-color: #050e13;
        padding: 0 5px;
    }
}
</style>
