<template>
    <div class="navigation-container">
        <template v-if="authInfo">
          <nav class="register-panel">
              <font-awesome-icon icon="chevron-right" />
              Welcome, <router-link class="user" :to="{name: 'profile', params: {email: authInfo.email}}">{{ authInfo.email }}</router-link>  You can log out from <a class="logout" href="#" @click.prevent="logOut">here</a>
          </nav>
        </template>
        <template v-else>
          <nav class="register-panel">
              <font-awesome-icon icon="chevron-right" />
              <a href="#" @click.prevent="toggleLogin" class="login">Login</a> or <a href="#" @click.prevent="toggleRegister" class="register">Register</a> to enjoy all benefits of our site !
          </nav>
              <transition name="slide-down">
                  <Login v-if="loginVisible"/>
                  <Register v-if="registerVisible"/>
              </transition>
        </template>
    </div>
</template>

<script>
import Login from './Authentication/Login';
import Register from './Authentication/Register';
import { mapGetters, mapMutations } from 'vuex';
import { mixin as clickaway } from 'vue-clickaway';

export default {
  mixins: [clickaway],
  components: {
    Login,
    Register,
  },
  computed: {
    ...mapGetters('authentication', {
      loginVisible: 'loginFormVisibility',
      registerVisible: 'registerFormVisibility',
      authInfo: 'authInfo',
    }),
  },
  methods: {
    ...mapMutations('authentication', {
      showLogin: 'TOGGLE_AUTH_LOGIN_VISIBILITY',
      showRegister: 'TOGGLE_AUTH_REGISTER_VISIBILITY',
    }),
    ...mapMutations('helpers', {
      toggleOverlay: 'SET_AUTH_OVERLAY',
    }),
    toggleLogin() {
      if (this.loginVisible == true) {
        this.showLogin(false);
        this.showRegister(false);
        this.toggleOverlay(false);
      } else {
        this.showLogin(true);
        this.showRegister(false);
        this.toggleOverlay(true);
      }
    },
    toggleRegister() {
      if (this.registerVisible == true) {
        this.showLogin(false);
        this.showRegister(false);
        this.toggleOverlay(false);
      } else {
        this.showRegister(true);
        this.showLogin(false);
        this.toggleOverlay(true);
      }
    },
    logOut() {
      this.$store.dispatch('authentication/logOut');
    },
  },
};
</script>


<style lang="scss" scoped>
@import '../scss/mixins/index';
@import '../scss/variables';

.register-panel{
    position: absolute; top: 0; right: 30px;
    width: 340px; z-index: 20;
    padding: 10px 15px 10px 25px;
    background: rgba(255,255,255, 0.5);
    font-family: $primaryFont; font-weight: bold;
    font-size: $navigationFontSize;
    text-align: center;
    @include breakpoint(maxsm){
      position: relative;
      background: $primaryColor;
      width: 100%;
      left: 0;

    }
    @include breakpoint(maxxs){
      padding: 10px 15px 10px 15px;
    }
    svg{
        color: $lightColor;
    }
    .login{
        padding-left: 10px;
    }
    .login, .register, .user, .logout{
        color: $lightColor;
        transition: color 0.3s;
        &:hover{
          color: $primaryColor;
        }
    }
}

</style>
