@font-face {
    font-family: 'NeoSans';
    src: url('../scss/fonts/NeoSans-Black.eot');
    src: url('../scss/fonts/NeoSans-Black.eot?#iefix') format('embedded-opentype'),
        url('../scss/fonts/NeoSans-Black.woff2') format('woff2'),
        url('../scss/fonts/NeoSans-Black.woff') format('woff'),
        url('../scss/fonts/NeoSans-Black.ttf') format('truetype'),
        url('../scss/fonts/NeoSans-Black.svg#NeoSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'NeoSans';
    src: url('../scss/fonts/NeoSans-BlackItalic.eot');
    src: url('../scss/fonts/NeoSans-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../scss/fonts/NeoSans-BlackItalic.woff2') format('woff2'),
        url('../scss/fonts/NeoSans-BlackItalic.woff') format('woff'),
        url('../scss/fonts/NeoSans-BlackItalic.ttf') format('truetype'),
        url('../scss/fonts/NeoSans-BlackItalic.svg#NeoSans-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'NeoSans';
    src: url('../scss/fonts/NeoSans-LightItalic.eot');
    src: url('../scss/fonts/NeoSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../scss/fonts/NeoSans-LightItalic.woff2') format('woff2'),
        url('../scss/fonts/NeoSans-LightItalic.woff') format('woff'),
        url('../scss/fonts/NeoSans-LightItalic.ttf') format('truetype'),
        url('../scss/fonts/NeoSans-LightItalic.svg#NeoSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'NeoSans';
    src: url('../scss/fonts/NeoSans-MediumItalic.eot');
    src: url('../scss/fonts/NeoSans-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../scss/fonts/NeoSans-MediumItalic.woff2') format('woff2'),
        url('../scss/fonts/NeoSans-MediumItalic.woff') format('woff'),
        url('../scss/fonts/NeoSans-MediumItalic.ttf') format('truetype'),
        url('../scss/fonts/NeoSans-MediumItalic.svg#NeoSans-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Neo Sans Std';
    src: url('../scss/fonts/NeoSansStd-Regular.eot');
    src: url('../scss/fonts/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'),
        url('../scss/fonts/NeoSansStd-Regular.woff2') format('woff2'),
        url('../scss/fonts/NeoSansStd-Regular.woff') format('woff'),
        url('../scss/fonts/NeoSansStd-Regular.ttf') format('truetype'),
        url('../scss/fonts/NeoSansStd-Regular.svg#NeoSansStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

