<template>
<div class="login-form authentication-form">

    <span class="inline-error">{{ errors.first('email') || errors.first('password') || message}} </span>
    <img src="../../assets/lock.png" alt="" autocomplete="nope">
    <form action="" autocomplete=”false” @submit.prevent="submitSignin">
        <div class="fields">
            <input
                data-vv-name="email"
               v-validate="'required|email'"
               type="text" v-model="email"
               placeholder="Your email*"
               autocomplete=”false”/>
            <input autocomplete="off"
               data-vv-name="password"
               v-validate="'required|min:3'"
               type="password"
               v-model="password"
               placeholder="Your password*"/>
        </div>
        <transition name="slide-down">
          <template v-if="loading">
            <button class="submit"><font-awesome-icon icon="spinner" spin /></button>
          </template>
          <template v-else>
            <button class="submit" :disabled="errors.first('email') || errors.first('password')">GO</button>
          </template>
        </transition>
    </form>
</div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex';

export default {
  data() {
    return {
      email: '',
      password: '',
    };
  },
  computed: {
    ...mapState('alerts', ({
      message: 'message',
      type: 'type',
    })),
    ...mapGetters('helpers', ['loading']),
  },
  methods: {
    ...mapMutations('alerts', {
      error: 'ERROR',
    }),
    ...mapMutations('helpers', {
      setLoading: 'SET_LOADING',
    }),
    submitSignin() {
      this.setLoading(true);
      if (this.email === '' || this.password === '') {
        this.error('Fields cannot be empty');
        this.setLoading(false);
        return;
      }
      this.$store.dispatch('authentication/signIn', {
        email: this.email,
        password: this.password,
      });
    },
  },
};
</script>

<style lang="scss">

</style>

