<template>
<div class="register-form authentication-form">

    <span class="inline-error">{{ errors.first('email') || errors.first('password') || errors.first('passwordConfirm') || message}} </span>
    <img src="../../assets/lock.png" alt="" autocomplete="nope">
    <form action="" autocomplete=”false” @submit.prevent="submitSignup">
        <div class="fields">
            <input autocomplete="off"
               data-vv-name="email"
               v-validate="'required|email'"
               type="text" v-model="email"
               placeholder="Your email"/>
            <input  autocomplete="off"
               data-vv-name="password"
               v-validate="'required|min:3'"
               type="password"
               v-model="password"
               placeholder="Your password"/>
            <input autocomplete="off"
               data-vv-name="passwordConfirm"
               v-validate="'required|min:3'"
               type="password"
               v-model="passwordConfirm"
               placeholder="Repeat password"/>
        </div>
        <button class="submit">GO</button>
    </form>
</div>
</template>

<script>
import { mapMutations, mapState } from 'vuex';

export default {
  data() {
    return {
      email: '',
      password: '',
      passwordConfirm: '',
    };
  },

  computed: {
    ...mapState('alerts', ['message', 'type']),
  },

  methods: {
    ...mapMutations('alerts', {
      error: 'ERROR',
    }),
    ...mapMutations('helpers', {
      loading: 'SET_LOADING',
    }),

    submitSignup() {
      this.loading(true);
      if (this.email === '' || this.password === '' || this.passwordConfirm === '') {
        this.error('Fields cannot be empty');
        this.loading(false);
        return;
      }
      if (this.passwordConfirm === this.password) {
        this.$store.dispatch('authentication/signUp', {
          email: this.email,
          password: this.password,
        });
        this.error('');
      } else {
        this.error('Password must be the same');
        this.loading(false);
      }
    },
  },
};
</script>


<style lang="scss">
</style>

