<template>
  <div id="app">
  <transition name="grow">
    <div class="auth-overlay" v-if="authOverlay" @click="closeAuthForms"></div>
  </transition>
  <transition name="fade">
    <div class="overlay" v-if="isLoading"><font-awesome-icon icon="spinner" spin/></div>
  </transition>
  <img class="background-image" src="./assets/background-image.png" />

  <b-container tag="main" class="content-wrapper">

    <Navigation />

    <transition name="slide-down" mode="out-in">
      <router-view/>
    </transition>
  </b-container>

  </div>
</template>

<script>
import Navigation from './components/Navigation';
import { mapMutations, mapState, mapGetters } from 'vuex';

export default {
  computed: {
    ...mapState('helpers', ({
      isLoading: 'loading',
      authOverlay: 'authOverlay',
    })),
  },
  components: {
    Navigation,
  },

  created() {
    this.$store.dispatch('content/fetchData');
  },

  methods: {
    ...mapMutations('authentication', {
      showLogin: 'TOGGLE_AUTH_LOGIN_VISIBILITY',
      showRegister: 'TOGGLE_AUTH_REGISTER_VISIBILITY',
    }),
    ...mapMutations('helpers', {
      toggleOverlay: 'SET_AUTH_OVERLAY',
    }),
    closeAuthForms() {
      this.showLogin(false);
      this.showRegister(false);
      this.toggleOverlay(false);
    },
  },
};
</script>


<style lang="scss">
.background-image{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 800px;
  width: 100vw;
}
.error{
  background: #cc0000;
  color: #fff;
  display: inline-block;
  padding: 8px 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}
.inline-error{
    color: #ff0033;
    font-size: 11px;
    font-weight: bold;
}
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 250px;
    max-width: 375px;
    width: 100%;
    form{
      text-align: center;
        width: 100%;
      small{
        display: block;
      }
      input{
        width: 100%;
        padding: 10px 0px;
        margin-bottom: 20px;
        border: none;
        box-shadow: 1px 1px 1px 1px #000;
        margin-top: 5px;
        text-indent: 12px;
      }
      button{
        display: inline-block;
        border: none;
        margin-top: 5px;
        padding: 8px 12px;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #000;
      }
    }
  }

  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
</style>
