.authentication-form{
    position: absolute; top: 40px; right: 30px; z-index: 25;
    background: $lightColor;
    width: 340px;
    display: flex;
    flex-direction: row;
    padding: 20px 20px;
    justify-content: space-around;
    align-items: center;
    @include breakpoint(maxsm){
        z-index: 100;
        position: fixed;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 340px;
        left: 50%;
    }
    .inline-error{
        position: absolute;
        top: 2px;
        width: 100%;
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .fields{
        display: flex;
        flex-direction: column;
        margin-right: 6px;
    }
    input{
        background: #cccccc;
        color: $lightColor;
        margin: 3px 0;
        border: none;
        font-size: 11px;
        font-family: 'Arial';
        padding: 5px;
    }
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $lightColor;
    font-family: 'Arial';
    font-size: 11px;
    font-weight: bold;
    opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: $lightColor;
        font-family: 'Arial';
        font-size: 11px;
        font-weight: bold;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
        color: $lightColor;
        font-family: 'Arial';
        font-size: 11px;
        font-weight: bold;
    }
    .submit{
        border: none;
        outline: none;
        background: $primaryColor;
        width: 60px;
        height: 60px;
        color: $lightColor;
        flex: 1 0 auto;
        cursor: pointer;
        &:disabled{
            cursor: not-allowed;
        }
    }
}