


// Overwrite default bootstrap width
@include breakpoint(sm){
    .container{
        max-width: 980px!important;
    }
}
// Spacing based on the design
.container.content-wrapper{
    padding-left: 30px; padding-right: 30px;
    position: relative;
    background: $secondaryColor;
    @include breakpoint(maxsm){
        padding-left: 20px; padding-right: 20px;
    }
}

section{
    margin-bottom: 45px;
    @include breakpoint(maxsm){
        margin-bottom: 15px;
    }
}



a{
    text-decoration: none!important;
}

.fluid-img{
    max-width: 100%;
    height: auto;
}

.slick-slide{
    position: relative!important;
}


.auth-overlay{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 99;
    display:none;
    @include breakpoint(maxsm){
        display: block;
    }
}
.overlay{
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 200;
    text-align:center;
    svg{
        display:inline-block;
        color: $primaryColor;
        font-size: 48px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include breakpoint(maxxs){
            left: 45%;
        }
    }
}