.slide-down-enter-active {
    transition: all .3s ease;
}

.slide-down-leave-active {
    transition: all .3s ease;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.grow-enter-active {
    transition: all .3s ease;
}

.grow-leave-active {
    transition: all .3s ease;
}

.grow-enter,
.grow-leave-to {
    transform: scale(0.8);
    opacity: 0;
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}