$primaryColor:  #53b8c4;
$secondaryColor: #eff1f1;
$lightColor: #fff;
$darkColor: #000;

$textColor: #666666;

$navigationFontSize: 11px;


$primaryFont: 'Arial';
$secondaryFont: 'NeoSans';
$secondaryFontRegular: 'Neo Sans Std';